<!-- Header -->
  <header class="w3-container" style="padding-top:22px">
   
 <div class="container-fluid px-4">
                        <h1 class="mt-4">Admin List &nbsp<i class="fa fa-users fa-fw"></i></h1>
                        <div class="row">
                                <div class="text-white mb-4">
                                <% if current_admin.has_role? :super_admin or current_admin.has_role? :admin_header %>
                                      <a class="btn btn-warning" href="/admins/invitation/new" >
                                                    Add
                                                </a>
                                <% end %>
                                </div>
                            </div>
   
  </header>
<div class="card mb-4">
                            <div class="card-header">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                Admin List Table
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                            <table class="table table-sm table-hover table-bordered text-center">
                          <thead>
                                <tr>
                              <th scope="col">#</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col" class="text-nowrap" >Date-Time</th>
                                    <th scope="col" class="text-nowrap" >Role</th>
                                   <% if current_admin.has_role? :super_admin or current_admin.has_role? :admin_header %>
                                   <th></th>
                                   <% end %> 
     
                                </tr>
                            </thead>
                            <tbody>
                                <% @admins.each_with_index do |admin, index| %> 
                                <% if admin.name != nil %>
                                <tr>
                                <td class="text-nowrap"><%= index+1 %></td>
                                <td class="text-nowrap"><%= admin.email %></td>
                                <td class="text-nowrap"><%= admin.updated_at.strftime('%d/%m/%Y %H:%M') %></td>
                                 <% if current_admin.has_role? :super_admin %>
                                 <%if admin.has_role? :super_admin %>
                                 <td class="text-nowrap" >Admin Super</td>
                                 <% else %>
                                 <%if admin.has_role? :admin_header %>
<td class="text-nowrap"> <%= link_to "Admin", removerole_path(id: admin.id), data: { confirm: "Are you sure?" }, method: :get %>
                                <% else %>
<td class="text-nowrap"> <%= link_to "Staff", addrole_path(id: admin.id), data: { confirm: "Are you sure?" }, method: :get %>
<% end %>
<% end %>
<% end %>
<% if current_admin.has_role? :super_admin %>

<% else %>
<%if admin.has_role? :super_admin %>
<td class="text-nowrap"> Admin Super</th>
<% elsif admin.has_role? :admin_header %>
<td class="text-nowrap"> Admin </th>
<% else %>
<td class="text-nowrap"> Staff </td>
<% end %>
<% end %>
<% if current_admin.has_role? :super_admin or current_admin.has_role? :admin_header %>
<td class="text-nowrap">
<%if admin.has_role? :super_admin %>

<% else %>
 <%= link_to "Delete", removeadmin_path(id: admin.id), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger fw-bold ", :style => "color:white" %>
 <% end %>
</td><% end %> 
<% end %>
<% end %>
                          </tbody>
                          </tr>
                                </table>
        
</div>
                    </div>
                    </main>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="row">        
                         </div>                           
                            <div class="card mb-4">
                            <div class="card-header">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                Not Activate
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                            <table class="table table-sm table-hover table-bordered text-center">
                          <thead>
                                <tr>
                              <th scope="col">#</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col" class="text-nowrap" >Date-Time</th>
                                   <% if current_admin.has_role? :super_admin %> <th></th>  <% end %>     
                                </tr>
                            </thead>
                            <tbody>
                                <% @admins.each_with_index do |admin, index| %> 
                                <% if admin.name == nil %>
                                <tr>
                                <td class="text-nowrap"><%= index+1 %></td>
                                <td class="text-nowrap"><%= admin.email %></td>
                                <td class="text-nowrap"><%= admin.updated_at.strftime('%d/%m/%Y %H:%M') %></td>
                               <% if current_admin.has_role? :super_admin %>  <td class="text-nowrap">
 <%= link_to "Delete", removeadmin_path(id: admin.id), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger fw-bold ", :style => "color:white" %>
</td><% end %> 
<% end %><% end %>  
                          </tbody>
                          </tr>
                                </table>
               
                        </div>
                    </div>
  </div>
  </div>