    <header class="w3-container" style="padding-top:22px">
   <div class="container-fluid px-4">
                        <h1 class="mt-4">Details &nbsp<i class="fa fa-info-circle" aria-hidden="true"></i></h1>
                        </div>
  </header>
<div class="card mb-4 text-center">
   <div class="card-body">
                                <div class="fadeIn first">
                      <h5>Name: <%= @pests.yname %></h5><br>
                    </div>


                 <form>
      <div class="form-group has-icon text-center">
    <p><strong>📣 Details</strong></p>
    <p><%= @pests.description %></p>
  </div>
    <div class="form-group has-icon">
  <p><strong>📌Address</strong></p>
  <p><%= @pests.address %></p>
<img src = "https://maps.googleapis.com/maps/api/staticmap?center=<%= @pests.lat %>,<%= @pests.lon %>&zoom=13&size=300x200&maptype=roadmap
&markers=color:red%7Clabel:C%7C<%= @pests.lat %>,<%= @pests.lon %>
&key=AIzaSyBk2-SxqIx59W28JYGXv4vxkq4NkFDrJmI">
    </div>
    <a class="underlineHover" href="/datainsert2">Back</a>
    </form>
       </div></div>