<!-- Header -->
  <header class="w3-container" style="padding-top:22px">
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Data &nbsp<i class="fa fa-keyboard-o" aria-hidden="true"></i></h1>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card text-white mb-4">
                                      <a class="btn btn-warning" href="/datainsert" >
                                                    Epidemic
                                                </a>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card text-white mb-4">
                                     <a class="btn btn-success" href="/datainsert2" >
                                                Pest<i class="fa-solid fa-circle-plus fa-beat"></i>
                                                </a>
                            </div>
                        </div>
                        
 <%= search_form_for @q, url: datainsert_path(@q), html: { method: :get } do |f| %>
                                <%= f.search_field :yname_or_plant_type_or_data_epidemic_cont, type:"serch" %>&nbsp
                                <%= f.submit "Search!", class:"btn-secondary text-white" %>
                                <% end %><br>
   
  </header>

   
                      
                                         <br><div class="card mb-4">
                            <div class="card-header">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <%= sort_link(@q, :id, "Epidemic Table", default_order: :desc) %> (<%= @epidemics.count %>)
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                            <table class="table table-sm table-hover table-bordered text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col" class="text-nowrap" >Type</th>
                                    <th scope="col">Epidemic</th> 
                                    <th scope="col">Date-Time</th>       
                                    <th></th>
                                    <th></th>      
                                </tr>
                            </thead>
                            <tbody>
                        <% @epidemics.each_with_index do |epidemic, index| %>  
                            <tr>
                            <td class="text-nowrap"><%= epidemic.yname %></td>
                            <td class="text-nowrap"><%= epidemic.plant_type %></td>
                            <td class="text-nowrap"><%= epidemic.data_epidemic %></td>
                            <td class="text-nowrap"><%= epidemic.created_at %></td>
                             <td class="text-nowrap" ><a href="/epidemic_info/<%= epidemic.id %>" class="btn btn-success">Details</a></td> 
                    <td class="text-nowrap">
                     <%= link_to "Delete", removedata2_path(id: epidemic.id), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger ", :style => "color:white" %>
                    </td>
                     <% end %> 
                    </tr>
                                </tbody>
                                </table>
                                </div>
                            <div class="digg_pagination">
                                <%= paginate @epidemics %>
                        </div><br>
<p>Export file:  <%= link_to 'xlsx', datainsert_path(format: :xlsx), target: :_blank %> | <%= link_to 'csv', datainsert_path(format: :csv), target: :_blank %></p>
            </div>
  